@model IEnumerable<Persona>

@{ Layout = "_LayoutAdmin"; }

@{
    ViewData["Title"] = "Admin";
}

<div>
    <div class="card">
        <div class="card-header">
            Ingreso Manual
        </div>
        <div class="card-body">
            <form method="post" action="@Url.Action("GuardarClienteMAnual", "Admin")">
                <div class="d-flex">
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">DPI</span>
                        <input type="text" class="form-control" name="dpi" required>
                    </div>
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        <input type="text" class="form-control" name="nombre" required>
                    </div>
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                        <input type="text" class="form-control" name="apellido" required>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">Fecha nacimiento</span>
                        <input type="date" class="form-control" name="fechaNacimiento" required>
                    </div>
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text col-3" id="inputGroup-sizing-default">Tipo persona</span>
                        <select class="form-select col-9" id="inputGroupSelect03" name="tipoPersona" required>
                            <option selected value="">Seleccione...</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Tipo</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="d-flex">
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        <input type="text" class="form-control" name="telefono" required>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Ingreso por archivo
        </div>
        <div class="card-body">
            @using (Html.BeginForm("CargarClientesPorArchivo", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Subir</label>
                    <input type="file" class="form-control" id="inputGroupFile01" name="formArchivo">
                </div>

                <div class="mt-3 mb-3">
                    <label for="inputGroupFile01">Que hacer con los usuarios repetidos?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="saltarRepetidos" id="flexRadioDefault1" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Rollback
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="saltarRepetidos" id="flexRadioDefault2" checked value="2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Saltarse los usuarios repeditos
                        </label>
                    </div>
                </div>
                

                <div>
                    <button class="btn btn-primary w-100" type="submit">Cargar </button>
                </div>
            }
        </div>
    </div>
</div>
